<div class="row">
  <%= render "layouts/nav/sidebar" %>

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <h2><%= @account.full_name %></h2>
    <h4><%= @account.company %></h4>
    <p><%= @account.email %></p>
  </main>
</div>
