// Specific CSS for your home-page
#hero {
  max-width: 100%;
}

.c-mg {
  margin-bottom: 6rem;
}

h2 {
  color: $myBlue;
}

.header-copy {
  text-align: left;
  color: $myBlue;
  margin: 3rem auto;

  h1 {
    font-size: 3.5rem;
    font-weight: 700;
    font-family: 'Limelight', cursive;
  }

  h4 {
    font-weight: 500;
    line-height: 1.2;
  }
}

.hr-style {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 255.75), rgba(255, 255, 255, 0));
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .75rem;
}

.offers {
  i {
    color: $myBlue;
  }
}
