.post-content {
  background-color: #fff;
  width: 80vw;
  position: absolute;
  top: 360px;
  left: 10vw;
  right: 10vw;
  hr {
    width: 50%;
  }
}

.first-letter {
  font-size: 35px;
  margin-top: -.6em;
}