.photo-main {
  width: 100vw;
  height: 70vh;
  background-size: cover;
  background-position: center;
  margin-top: -15px;
}

.text-mortgage {
  font-size: 12px;
}

.line-vertical {
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
}

#property-details {
  height: 100px;
  overflow: hidden;
  &.open {
    height: auto;
  }
}