<div class='bar-container landing-container'>
  <div class='columns is-mobile box search-box'>
    <div class='column is-4 is-paddingless'>
      <form class='search-block'>
        <label class='search-label label'>
          <span>Location</span>
        </label>
        <input class='search-input home-input' placeholder='Area or postcode' type='/search' value=''>
      </form>
    </div>
    <div class="div-bar"></div>
    <div class='column is-3 is-paddingless mrg-left'>
      <form class='price-block'>
        <label class='price-label label'>
          <span>Costs</span>
        </label>
        <a class='button' href='#' title='Rent Range'>
          <span>Choose max/min price</span>
        </a>
        <div class='dropdown-container'>
          <div class='dropdown'>
            <div class='range-container'>
              <div class='left-input'>
                <input class='minRentInput active' maxlength='6' placeholder='Min Rent' type='tel'>
              </div>
              <div class='right-input'>
                <input class='maxRentInput' maxlength='6' placeholder='Max Rent' type='tel'>
              </div>
            </div>
            <ul class='min-options'>
              <li>No Min</li>
              <li>$500</li>
              <li>$700</li>
              <li>$900</li>
              <li>$1100</li>
              <li>$1300</li>
              <li>$1500</li>
            </ul>
            <ul class='max-options'>
              <li>$1100</li>
              <li>$1300</li>
              <li>$1500</li>
              <li>$1700</li>
              <li>$1900</li>
              <li>$2100</li>
              <li>No Max</li>
            </ul>
          </div>
        </div>
      </form>
    </div>
    <div class="div-bar"></div>
    <div class='column is-3 is-paddingless mrg-left'>
      <div class='price-block'>
        <label class='price-label label'>
          <span>Bedrooms</span>
        </label>
        <a class='button' href='#' title="Extra's">
          <span>How many bedrooms?</span>
        </a>
        <div class='dropdown-container'>
          <div class='dropdown'>
            <div class='options-container'>
              <p>Beds</p>
              <div class='checkbox'>
                <label for='allBed'>
                  <input id='allBeds' type='checkbox'>
                  <span class='checkbox-material'>
                    <span class='check'></span>
                  </span>
                </label>
                All Beds
              </div>
              <div class='checkbox'>
                <label for='studioBed'>
                  <input id='studioBed' type='checkbox'>
                  <span class='checkbox-material'>
                    <span class='check'></span>
                  </span>
                </label>
                Studio
              </div>
              <div class='checkbox'>
                <label for='oneBed'>
                  <input id='oneBed' type='checkbox'>
                  <span class='checkbox-material'>
                    <span class='check'></span>
                  </span>
                </label>
                1 Bed
              </div>
              <div class='checkbox'>
                <label for='twoBed'>
                  <input id='twoBed' type='checkbox'>
                  <span class='checkbox-material'>
                    <span class='check'></span>
                  </span>
                </label>
                2 Beds
              </div>
              <div class='checkbox'>
                <label for='threeBed'>
                  <input id='threeBed' type='checkbox'>
                  <span class='checkbox-material'>
                    <span class='check'></span>
                  </span>
                </label>
                3 Beds
              </div>
              <div class='checkbox'>
                <label for='maxBeds'>
                  <input id='maxBeds' type='checkbox'>
                  <span class='checkbox-material'>
                    <span class='check'></span>
                  </span>
                </label>
                4+ Beds
              </div>
            </div>
            <div class='options-container'>
              <p>Baths</p>
              <div class='checkbox'>
                <label for='allBath'>
                  <input id='allBath' type='checkbox'>
                  <span class='checkbox-material'>
                    <span class='check'></span>
                  </span>
                </label>
                All Baths
              </div>
              <div class='checkbox'>
                <label for='oneBath'>
                  <input id='oneBath' type='checkbox'>
                  <span class='checkbox-material'>
                    <span class='check'></span>
                  </span>
                </label>
                1+ Bath
              </div>
              <div class='checkbox'>
                <label for='twoBath'>
                  <input id='twoBath' type='checkbox'>
                  <span class='checkbox-material'>
                    <span class='check'></span>
                  </span>
                </label>
                2+ Bath
              </div>
              <div class='checkbox'>
                <label for='threeBath'>
                  <input id='threeBath' type='checkbox'>
                  <span class='checkbox-material'>
                    <span class='check'></span>
                  </span>
                </label>
                3+ Baths
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='column is-2 is-paddingless'>
      <a class='button is-primary is-large search-button'><i class="fas fa-search"></i></a>
    </div>
  </div>
</div>