<div class="agent-info">
  <h5><%= @agent.full_name %></h5> 
  <p><%= @agent.company %></p>

  <button class="btn btn-dark">Call <%= @agent.first_name %></button>
  <button class="btn btn-dark">Email <%= @agent.first_name %></button>  
</div>