<div class="agent-info">
  <h5><%= @agent.full_name %></h5> 
  <p><%= @agent.company %></p>

  <button class="btn btn-dark"><i class="fas fa-phone-square-alt"></i> Call <%= @agent.first_name %></button>
  <button class="btn btn-dark"><i class="fas fa-envelope-square"></i> Email <%= @agent.first_name %></button>  
</div>