<div class="row">
  <div class="cards-scrollbox">
    <% @properties.each do |property| %>
      <%= link_to property_path(property) do %>
        <div class="card-product">
          <%= image_tag property.photos[0] %>
          <div class="card-product-infos d-flex w-100 justify-content-between">
            <div>
              <h2 class="title-card"><%= property.name %></h2>
              <p><i class="fas fa-map-marker-alt"></i> <%= property.address %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
