<div class="container p-2">
  <div class="properties-form row mt-4">
    <%= render "layouts/nav/search_form" %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mt-4">
    <%= render "properties/properties", properties: @properties %>
  </div>
</div>