<div class="row">
  <div class="col-md-2">
    <%= render "layouts/nav/search_form" %>
  </div>
  <div class="col-md-10">
    <%= render "properties/properties", properties: @properties %>
  </div>
</div>
