.btn-blue {
  background-color: $myBlue;
  color: #fff;
  &:hover {
    color: #fff;
    opacity: 0.9;
  }
}

.btn-outline-blue {
  border: solid 1px $myBlue;
  &:hover {
    color: #fff;
    background-color: $myBlue;
  }
}

.btn-white-blue {
  background-color: #fff;
  color: $myBlue;
  &:hover {
    color: #fff;
    background-color: $myBlue;
  }
}