.card-latest {
  position: relative;
  box-shadow: 2px 2px 8px #eee;
  border-radius: 2px;
  height: 25em;

  .c-details {
    position: absolute;
    bottom: 0;
  }

  .border-top {
    width: 85%;
    @include centerer(true,false);
  }

  img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    width: 100%;
  }

  h4 {
    height: 3.5rem;
  }

  i {
    color: $myBlue;
  }
}

