.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  z-index: 1001;
  position: absolute;
  width: 92vw;
  margin: 0 2.6em;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 65px;
}
