.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: absolute;
  z-index: 1001;
  height: 12vh;
  width: 100vw;
  padding: 0 4em;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 65px;
  margin: 5px auto;
}


@media only screen and (max-width: 768px) {
  .navbar-lewagon {
    background-color: white;
  }

  .navbar-lewagon .navbar-collapse {
    background-color: white;
    padding: 1em;
  }
}