html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

a {
  color: $danger;
  text-decoration: none !important;
}

a:hover {
  color: $danger;
  opacity: 0.7;
}

// To make footer sticky to bottom
.content {
  min-height: calc(100vh - 80px);
}