<section id="contact">
  <div class="container">
    <div class="contact-wrapper">
      <div class="row">
        <div class="col-md-6">
          <h2 class="pb-2 pt-4 border-bottom">Write us everything</h2>
          <%= form_tag email_agent_path, id: "email-agent" do %>
            <div class="form-group">
              <label for="message-first-name" class="col-form-label">First name:</label>
              <%= text_field_tag :first_name, nil, class: "form-control", id: "message-first-name" %>
            </div>
            <div class="form-group">
              <label for="message-last-name" class="col-form-label">Last name:</label>
              <%= text_field_tag :last_name, nil, class: "form-control", id: "message-last-name" %>
            </div>
            <div class="form-group">
              <label for="message-email" class="col-form-label">Email:</label>
              <%= text_field_tag :email, nil, class: "form-control", id: "message-email" %>
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          <% end %>
        </div>
        <div class="col-md-6">
          <div class="direct-contact-container">
            <iframe
              class="mt-4"
              width="100%"
              height="250px"
              style="border:0"
              loading="lazy"
              allowfullscreen
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCeKKpzIbagFEqQdSJo1AMMfaNV-M-LNzg
                &q=Nieuwmarkt,Amsterdam">
            </iframe>
            <ul class="contact-list">
              <li class="contact-list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Nieuwmarkt 1, Amsterdam</span></i></li>
              <li class="contact-list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone">+31 06 845788098</span></i></li>
              <li class="contact-list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail">makelaars@fmilk.com</span></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
