<div class="header overflow-hidden mb-5 text-center">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="fw-normal">Amsterdam Makelaars</h1>
    <h4 class="lead fw-normal">Find the home you will proudly call yours.</h4>
  </div>
</div>

<section class="search-prperties">
  <div class="container py-2 mb-5">
    <h2 class="pb-2 mb-4 border-bottom">Find your home now</h2>
    <%= render "layouts/nav/search_form" %>
  </div>
</section>

<section class="features">
  <div class="container py-2">
    <h2 class="pb-2 pt-4 border-bottom">What we offer</h2>
    <div class="row g-5 py-3 mt-5">
      <div class="col-md-4 d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <i class="fab fa-keycdn"></i>
        </div>
        <div>
          <h3 class="text-danger">Total transparency</h3>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <i class="fab fa-fort-awesome"></i>
        </div>
        <div>
          <h3 class="text-danger">Luxurious prperties</h3>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <i class="fas fa-network-wired"></i>
        </div>
        <div>
          <h3 class="text-danger">Professional network</h3>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="latest-properties">
  <div class="container py-3 mt-5">
    <h2 class="pb-2 border-bottom">Latest properties</h2>
  </div>
  <%= render "properties/properties", properties: @latest_properties %>
</section>

<section class="testimonials">
  <div class="container py-3 mt-5">
    <h2 class="pb-2 border-bottom">Our customers says</h2>
  </div>
  <%= render "layouts/testimonials" %>
</section>