<div class="sd_master_wrapper">	
  <div class="sdtestBg2"></div>
  <div class="sdtestBg3"></div>
  <div class="slideshow">
  	
  	<div class="content"> <!-- slide 1 -->
  		<div class="thumbnail">
  			<img src="https://kitt.lewagon.com/placeholder/users/arthur-littm"> 
  		</div>
  		<div class="btnNtxt"> 
  			<div class="sdAllContent"> 
  				
  				<div class="sd_scroll">
  				<h1 class="sdCustomSliderHeadig">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porta laoreet nisl quis suscipit. Nulla porta felis id urna fermentum, sit amet posuere lectus malesuada. Cras non feugiat ante, in dignissim risus. In hac habitasse platea dictumst. Cras diam neque, rutrum a aliquam eu, venenatis in tortor. Sed et dictum felis, sit amet iaculis tellus.</h1> 
  				</div>
  				<p class="SdClientName">Francesca Santoriello</p>
  				<p class="SdClientDesc">26 yo | Copywriter</p>
  			</div>
  		</div>
  	</div>
  	
  	<div class="content"> <!-- slide 2 -->
  		<div class="thumbnail">
  			<img src="https://kitt.lewagon.com/placeholder/users/arthur-littm"> 
  		</div>
  		<div class="btnNtxt"> 
  			<div class="sdAllContent"> 
  				
  				<div class="sd_scroll">
  				<h1 class="sdCustomSliderHeadig">Quisque laoreet augue accumsan, feugiat urna vitae, fringilla quam. Integer sagittis cursus maximus. Nam faucibus dui vitae tortor vulputate semper ut quis ante. Ut hendrerit pharetra purus sit amet convallis. </h1> 
  				</div>
  				<p class="SdClientName">Harm Binnenkade</p>
  				<p class="SdClientDesc">28 yo | Web Developer</p>
  			</div>
  		</div>
  	</div>
  
  	<div class="content"> <!-- slide 3 -->
  		<div class="thumbnail">
  			<img src="https://kitt.lewagon.com/placeholder/users/arthur-littm"> 
  		</div>
  		<div class="btnNtxt"> 
  			<div class="sdAllContent"> 
  				
  				<div class="sd_scroll">
  				<h1 class="sdCustomSliderHeadig">Phasellus nisi dolor, dapibus ut felis eget, condimentum porta augue. Nunc elementum sit amet arcu et lacinia. Ut at ultrices leo, ut luctus quam. Nullam vel neque eu lacus iaculis pellentesque gravida nec nisi. Duis ultricies, purus et tincidunt scelerisque, turpis velit mollis magna, sit amet consequat quam libero id tortor. Curabitur aliquam aliquam odio posuere pellentesque. </h1> 
  				</div>
  				<p class="SdClientName">Sonia Hayes</p>
  				<p class="SdClientDesc">46 yo | Product Designer</p>
  			</div>
  		</div>
  	</div>
  	
  	<div class="content"> <!-- slide 4 -->
  		<div class="thumbnail">
  			<img src="https://kitt.lewagon.com/placeholder/users/arthur-littm"> 
  		</div>
  		<div class="btnNtxt"> 
  			<div class="sdAllContent">
  				<div class="sd_scroll">
  				<h1 class="sdCustomSliderHeadig">Proin odio metus, ultrices ac ligula a, ultrices ultrices nulla. Phasellus dapibus diam quis nisl facilisis, eget fringilla justo ultrices.</h1>
  				</div>	
  				<p class="SdClientName">Monica Cerruti</p>
  				<p class="SdClientDesc">55 yo | Social Health Worker</p>
  			</div>
  		</div>
  	</div>
  </div>
</div>	
<div class="spacer"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
  jQuery(document).ready(function($){
  	var $slickElement = $('.slideshow');
  
  	$slickElement.slick({
  	  autoplay: true,
  	  dots: false,
  	});
  
  });
</script>